@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&display=swap');

.round-font{
    font-family: 'Varela Round';
}

.small-font{
    font-family: 'Alumni Sans Pinstripe';
}

#bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(155,194,178,1) 0%, rgba(140,213,144,1) 56%, rgba(197,214,186,1) 78%);
}

#profile{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(45%, -100%);
}

#profileImage{
    border-radius: 25%;
    width: 8vw;
}
#statusImage{
    width: 3vw;
    transform: translate(-90%, 40%);
}

#songCover{
    width: 4vw;
}

#songName{

}

.name{
    font-size: 2.2em;
    margin: 0;
    color: rgb(255, 255, 255);
}

.discriminator{
    font-size: 1.1em;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.box{
    position: absolute;
    background-color: rgba(26, 101, 71, 0.8);
    border-radius: 15%;
    width: 28vw;
    height: 40vh;
    z-index: -1;
}
